.green
{
    --bg: #111611;
    --bg-light: #1d251d;
    --bg-light-tp: #1d251daa;
    --bg-dark: #080a08;
    --text: #aaa;
    --user: #678ee2;
}

.light
{
    --bg: #bbbbbb;
    --bg-light: #e6e6e6;
    --bg-dark: #818181;
    --text: #1b1b1b;
    --user: #678ee2;
}

.dark
{
    --bg: #060606;
    --bg-light: #111111;
    --bg-light-tp: #11111177;
    --bg-dark: #020202;
    --text: #aaa;
    --user: #678ee2;
    --link: #77ece7;
}

.blue
{
    --bg: #111116;
    --bg-light: #1d2125;
    --bg-dark: #08090a;
    --text: #aaa;
    --user: #678ee2;
}

.red
{
    --bg: #161111;
    --bg-light: #462e2e;
    --bg-dark: #0f0404;
    --text: #aaa;
    --user: #678ee2;
}

.purple
{
    --bg: #050c1d;
    --bg-light: #2b365a;
    --bg-dark: #060f1b;
    --text: #aaa;
    --user: #678ee2;
}